<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성폼</title>
</head>
<style>
    .layout{
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
      }
      .layout input {
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        border: 1px solid magenta;
        border-radius: 5px;
      }
      .layout textarea {
        width: 100%;
        margin-top: 10px;
        min-height: 300px;
        border: 1px solid magenta;
        border-radius: 5px;
      }
      button {
        width: 80px;
        height: 30px;
      }
</style>
<body>
    <div class="layout">
        <form action="/board/writepro" method="post" enctype="multipart/form-data">
            <input type="text" name="title">
            <textarea name="content"></textarea>
            <button type="submit">작성</button>
        </form>

    </div>
</body>
</html>